/* Variables */

:root {
  --basic-white: #ffffff;
  --black: #000000;
  --blue-sky: #81b3d2;
  --bluesky-hover: #669ec0;
  --bluesky-active: #5496bd;
  --brown: #766357;
  --brown-hover: #604e43;
  --brown-active: #503e33;
  --grey-toggle: #ababab;
  --grey: #eeeeee;
  --white-grey: #f2f2f2;
  --hover-grey: #ebebeb;
  --focus-grey: #e5e5e5;
  --copyright-active: #bdbbbc;
  --footer-white: rgba(255, 255, 255, 0.9);
  --basic-black: #333333;
  --rating-color: #666666;
  --disabled: #6a6a6a;
  --soft-black: rgba(0, 0, 0, 0.3);
  --soft-white: rgba(255, 255, 255, 0.3);
  --shadow: rgba(0, 1, 1, 0.2);
  --search-shadow: rgba(0, 1, 1, 0.15);
}

/* Global */
body {
  min-width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
  background-color: var(--white-grey);
}

.page-body {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0 5px 15px var(--shadow);
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 226px 226px 155px 226px 226px;
  grid-template-rows: 1fr;
  align-content: start;
  padding: 0 70px;
  background-color: var(--basic-white);
}

.site-navigation {
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 226px 226px 155px 226px 226px;
  grid-template-rows: 1fr;
  list-style: none;
}

.navigation-item:nth-child(1) {
  padding-left: 2px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.navigation-item:nth-child(2) {
  padding-left: 5px;
}

.navigation-item:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 5;
}

.navigation-item a {
  display: block;
  width: 100px;
  margin: 14px 0;
  font-weight: 700;
  line-height: 26px;
  color: var(--black);
}

.navigation-item a:hover {
  color: var(--blue-sky);
}

.navigation-item a:active {
  color: var(--soft-black);
}

.site-navigation-current a {
  color: var(--brown);
}

.item-right {
  margin-left: auto;
  text-align: right;
}

/* Logo */

.main-header-logo {
  width: 155px;
  height: 56px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 2;
}

/* Main */

.container {
  position: relative;
}

.presentation {
  padding-top: 550px;
  background-color: var(--basic-white);
  background: url("../img/main-background.jpg") no-repeat;
}

.tagline {
  width: 470px;
  margin: 0 auto 46px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--black);
}

.text {
  width: 519px;
  margin: 0 auto 54px;
  text-align: center;
}

/* Features */

.features-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: 400px;
  text-align: center;
}

.headline {
  position: relative;
  width: 151px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 700;
}

.headline-other {
  margin-bottom: 25px;
}

.icon-one::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  bottom: 50px;
  right: 40px;
  background: url("../img/icon-1.svg") no-repeat;
}

.icon-two::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  bottom: 50px;
  right: 40px;
  background: url("../img/icon-3.svg") no-repeat;
}

.icon-three::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  bottom: 50px;
  right: 40px;
  background: url("../img/icon-2.svg") no-repeat;
}

.feature-item-number {
  margin: 27px 0 0;
}

.feature-text {
  width: 301px;
  margin: 25px auto 0;
}

.text-wrapper {
  width: 258px;
  margin-top: 23px;
}

.text-perfect {
  width: 265px;
}

.feature-item-picture {
  width: 800px;
  height: 256px;
  background-color: var(--basic-white);
}

.feature-item-other {
  padding: 160px 0 82px;
  color: var(--black);
  background-color: var(--white-grey);
}

.feature-item-main {
  padding: 47px 0 53px;
  color: var(--black);
  background-color: var(--grey);
}

.feature-item-special {
  color: var(--basic-white);
  background-color: var(--blue-sky);
}

/* Order */

.order {
  padding-top: 57px;
  text-align: center;
  background-color: var(--basic-white);
}

.order h2 {
  margin: 0 0 33px 0;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
}

.order-info {
  line-height: 24px;
  width: 435px;
  margin: 0 auto 44px;
}

.order-button {
  width: 568px;
  min-height: 86px;
  padding: 0 10px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  color: var(--basic-white);
  background-color: var(--brown);
}

.order-button:hover {
  background-color: var(--brown-hover);
}

.order-button:active {
  color: var(--soft-white);
  background-color: var(--brown-active);
}

/* Search form */

.search {
  position: absolute;
  left: 315px;
  width: 568px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--search-shadow);
  animation-name: stretch;
  animation-duration: 0.5s;
  transform-origin: top;
}

.search-hide {
  display: none;
}

.search-form {
  margin: 52px 53px 55px 55px;
}

.search-item {
  position: relative;
  margin: 0 0 27px 0;
  font-weight: 700;
  line-height: 26px;
}

.search-title {
  display: inline-block;
  vertical-align: middle;
  width: 92px;
  margin-right: 16px;
}

.title-last {
  width: 45px;
  margin: 0 12px 0 50px;
}

.search-field {
  width: 334px;
  height: 38px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: var(--white-grey);
}

.search-field:not(.field-age) {
  padding-left: 12px;
}

.search-field:hover {
  background-color: var(--hover-grey);
}

.search-field:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--focus-grey);
}

.calendar-icon {
  position: absolute;
  top: 8px;
  right: 9px;
}

.calendar-icon:hover path {
  fill: var(--black);
}

.calendar-icon:active path {
  fill: var(--blue-sky);
}

.field-age {
  width: 112px;
  height: 38px;
  text-align: center;
}

.minus-adult,
.minus-children,
.plus-adult,
.plus-children {
  position: absolute;
}

.minus-adult {
  top: 20px;
  left: 126px;
}

.minus-children {
  top: 20px;
  right: 88px;
}

.plus-adult {
  top: 17px;
  left: 201px;
}

.plus-children {
  top: 17px;
  right: 13px;
}

.minus-adult:hover rect,
.minus-children:hover rect,
.plus-adult:hover path,
.plus-children:hover path {
  fill: var(--black);
}

.minus-adult:active rect,
.minus-children:active rect,
.plus-adult:active path,
.plus-children:active path {
  fill: var(--blue-sky);
}

.button-search {
  min-width: 458px;
  min-height: 58px;
  margin-top: 27px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--blue-sky);
  border: none;
}

.button-search:hover {
  background-color: var(--bluesky-hover);
}

.button-search:active {
  color: var(--soft-white);
  background-color: var(--bluesky-active);
}

/* Animation */

@keyframes stretch {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

/* Map */

.map {
  width: 1199px;
  height: 474px;
  background-color: var(--white-grey);
}

/* Filter */

.filter {
  min-height: 217px;
  padding: 0 70px;
  color: var(--basic-white);
  background-color: var(--brown);
  background: url("../img/filter-background.jpg") no-repeat;
  background-size: cover;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.filter-item {
  padding: 0;
  margin: 26px 0;
  border: none;
}

.filter-item:first-child {
  margin-left: 2px;
  margin-right: 120px;
}

.filter-title {
  font-size: 16px;
  font-weight: 700;
}

.filter-item ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-option {
  margin-top: 25px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -42px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
  border: 2px solid var(--disabled);
}

.filter-input-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -42px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:focus + label::before {
  outline: 2px solid var(--black);
}

.filter-option label {
  margin-left: 40px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.item-range {
  margin-left: auto;
  margin-right: 2px;
  width: 317px;
}

.range-filter {
  width: 317px;
  margin-top: 10px;
}

.price-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.price-controls input {
  width: 60px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.price-controls .line {
  width: 2px;
  height: 22px;
  margin-right: 40px;
  background: var(--basic-white);
}

.min-price {
  margin-left: 65px;
}

.max-price {
  margin-right: 20px;
}

.range-controls {
  position: relative;
  width: 316px;
  height: 40px;
  padding-top: 20px;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background: var(--soft-white);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--grey-toggle);
  border-radius: 50%;
  box-shadow: 0 2px var(--grey-toggle);
  cursor: pointer;
}

.range-controls .toggle:hover {
  transform: scale(1.2);
}

.range-controls .toggle-max {
  left: 250px;
}

.filter-button {
  position: absolute;
  bottom: 25px;
  right: 98px;
  min-width: 137px;
  min-height: 36px;
  padding: 0 10px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
}

.filter-button:hover {
  color: var(--black);
  background-color: var(--basic-white);
}

/* Sorting */

.items-sort {
  color: var(--black);
  background-color: var(--basic-white);
}

.sort-wrapper {
  padding: 30px 70px;
  display: flex;
}

.sort-result {
  width: 160px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-title {
  width: 120px;
  padding: 2px 0;
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  width: 775px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-item {
  margin-right: 32px;
}

.sort-item a {
  font-size: 12px;
  line-height: 18px;
  color: var(--soft-black);
  border-bottom: 1px dotted var(--blue-sky);
}

.sort-item a:hover {
  color: var(--blue-sky);
}

.sort-item a:active {
  color: var(--black);
  border: none;
}

.sort-active a {
  color: var(--blue-sky);
  border: none;
}

.sort-increase {
  margin: 0 12px 0 auto;
}

.sort-increase,
.sort-decrease {
  align-self: center;
}

.sort-increase:hover path,
.sort-decrease:hover path {
  fill: var(--black);
}

.sort-increase:active path,
.sort-decrease:active path {
  fill: var(--blue-sky);
}

.sort-active path {
  fill: var(--blue-sky);
}

/* Catalog */

.catalog {
  background-color: var(--basic-white);
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  width: 1200px;
  padding: 30px 0;
  border-top: 1px solid var(--focus-grey);
}

.catalog-item:last-child {
  border-bottom: 1px solid var(--focus-grey);
}

.catalog-item .item-wrapper {
  padding: 0 70px;
}

.catalog-item-title {
  position: absolute;
  left: 240px;
  margin: -4px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

.catalog-item-title:hover {
  color: var(--blue-sky);
}

.catalog-item-title:active {
  color: var(--soft-black);
}

.catalog-item-image {
  margin: 0 0 0 2px;
  width: 135px;
  height: 90px;
}

.catalog-category {
  width: 110px;
  left: 238px;
}

.catalog-item-price {
  width: 142px;
  left: 352px;
}

.catalog-category,
.catalog-item-price {
  display: block;
  margin-bottom: 70px;
  position: absolute;
  top: 58px;
}

.catalog-item-rating {
  position: absolute;
  top: 93px;
  right: 72px;
  padding: 3px 12px;
  color: var(--rating-color);
  background-color: var(--white-grey);
}

.classification {
  position: absolute;
  top: 28px;
  right: 70px;
}

.button-detail,
.button-reservation {
  position: absolute;
  bottom: 30px;
}

.button-detail {
  display: block;
  left: 237px;
  padding: 3px 16px;
  text-align: center;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--blue-sky);
}

.button-detail:hover {
  background-color: var(--bluesky-hover);
}

.button-detail:active {
  color: var(--soft-white);
  background-color: var(--bluesky-active);
}

.button-reservation {
  width: 142px;
  min-height: 27px;
  padding: 0 10px;
  left: 352px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--brown);
  border: none;
}

.button-reservation:hover {
  background-color: var(--brown-hover);
}

.button-reservation:active {
  color: var(--soft-white);
  background-color: var(--brown-active);
}

/* Footer */

.page-footer {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  background-color: var(--footer-white);
  z-index: 999;
}

.footer-contacts {
  width: 327px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--black);
}

.contacts-text {
  margin: 19px 0 9px;
}

.contacts-phone {
  color: var(--black);
}

.footer-social {
  width: 327px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--blue-sky);
}

.twitter::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background: url("../img/twitter.png") no-repeat;
}

.facebook::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  background: url("../img/fb-icon.png") no-repeat;
}

.youtube::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  background: url("../img/youtube.png") no-repeat;
}

.social-button:hover {
  background-color: var(--bluesky-hover);
}

.social-button:active {
  background-color: var(--bluesky-active);
}

.twitter:active::before,
.facebook:active::before,
.youtube:active::before {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 327px;
  line-height: 26px;
  color: var(--black);
}

.copyright-text {
  line-height: 26px;
  margin-bottom: 5px;
}

.copyright-button {
  width: 115px;
  height: 41px;
  margin-left: 6px;
  margin-bottom: 10px;
}

.copyright-button:hover path {
  fill: var(--blue-sky);
}

.copyright-button:active path {
  fill: var(--copyright-active);
}
