/* Variables */

:root {
  --basic-white: #ffffff;
  --black: #000000;
  --blue-sky: #81b3d2;
  --bluesky-hover: #669ec0;
  --bluesky-active: #5496bd;
  --grey: #eeeeee;
  --brown: #766357;
  --brown-hover: #604e43;
  --brown-active: #503e33;
  --white-grey: #f2f2f2;
  --footer-white: rgba(255, 255, 255, 0.9);
  --basic-black: #333333;
  --rating-color: #666666;
  --soft-black: rgba(0, 0, 0, 0.3);
  --soft-white: rgba(255, 255, 255, 0.3);
}

/* Global */
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-width: 1200px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
  background-color: var(--white-grey);
}

.page-body {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 240px 240px 240px 240px 240px;
  grid-template-rows: 56px;
  line-height: 26px;
  color: var(--black);
  background-color: var(--basic-white);
}

.site-navigation {
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px 240px;
  grid-template-rows: 56px;
  list-style: none;
}

.navigation-item {
  justify-self: center;
}

.navigation-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}

.navigation-item:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 5;
}

.site-navigation a {
  font-weight: 700;
  color: var(--black);
  background-color: var(--basic-white);
}

.site-navigation a:hover {
  color: var(--blue-sky);
}

.site-navigation a:active {
  color: var(--soft-black);
}

/* Logo */

.main-header-logo {
  justify-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* Main */

.presentation {
  background-color: var(--basic-white);
}

.tagline {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

/* Features */

.features-wrapper {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
}

.feature-two {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.feature-six {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.feature-item-special {
  color: var(--basic-white);
  background-color: var(--blue-sky);
}

.feature-item-special h3 {
  font-size: 21px;
  font-weight: 700;
}

.feature-item-picture {
  background-color: var(--basic-white);
}

.feature-item-other {
  background-color: var(--white-grey);
}

.feature-item-other h3 {
  color: var(--black);
  font-size: 21px;
  font-weight: 700;
}

.feature-item-main {
  background-color: var(--grey);
}

.feature-item-main h3 {
  color: var(--black);
  font-size: 21px;
  font-weight: 700;
}

/* Order */

.order {
  background-color: var(--basic-white);
}

.order h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
}

.order-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--brown);
}

.order-button:hover {
  background-color: var(--brown-hover);
}

.order-button:active {
  color: var(--soft-white);
  background-color: var(--brown-active);
}

/* Map */

.map {
  background-color: var(--white-grey);
}

/* Filter */

.filter {
  color: var(--basic-white);
  background-color: var(--brown);
}

/* Sorting */

.items-sort {
  color: var(--black);
  background-color: var(--basic-white);
}

.sort-wrapper {
  padding: 30px 70px;
  display: grid;
  grid-template-columns: 160px 120px 1fr;
  grid-template-rows: 30px;
}

.sort-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-list a {
  font-size: 12px;
  line-height: 18px;
  color: var(--soft-black);
}

.sort-list a:hover {
  color: var(--blue-sky);
}

.sort-list a:active {
  color: var(--black);
}

/* Catalog */

.catalog {
  background-color: var(--basic-white);
}

.catalog-list {
  margin: 0;
  padding: 0 70px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 150px 150px;
}

.catalog-item-title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

.catalog-item-title:hover {
  color: var(--blue-sky);
}

.catalog-item-title:active {
  color: var(--soft-black);
}

.catalog-item-rating {
  color: var(--rating-color);
  background-color: var(--white-grey);
}

.button-detail {
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--blue-sky);
}

.button-detail:hover {
  background-color: var(--bluesky-hover);
}

.button-detail:active {
  color: var(--soft-white);
  background-color: var(--bluesky-active);
}

.button-reservation {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--brown);
}

.button-reservation:hover {
  background-color: var(--brown-hover);
}

.button-reservation:active {
  color: var(--soft-white);
  background-color: var(--brown-active);
}

/* Footer */

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--footer-white);
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  justify-self: center;
  color: var(--black);
}

.contacts-phone {
  color: var(--black);
}

.footer-social {
  justify-self: center;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-copyright {
  line-height: 26px;
  justify-self: center;
  color: var(--black);
}
